#popup_container{
    border: 10px solid transparent; 
    border-top: 70px solid transparent; 
    border-radius: 5px; 
    background: 
        linear-gradient(to top, #F5F5F5, #EBFFFE) padding-box, 
        linear-gradient(to bottom, #C4D6FF, #002E99) border-box; 
    position: fixed;
    inset: 0px;
    margin: auto;
    height: 500px; 
    width: 500px; 
    z-index: 10; 
    font-family: 'Forum', 'Courier New', Courier, monospace;
}

#url_container{
    background-color: white;
    font-size: 11px; 
    height: 30px; 
    text-align: center; 
}

/* 
The height and width of the popup will eventually 
need to change based on the size of the page, so it can work
on a phone 

Might be nice to implement an animation when the popup comes up 
*/ 

