#popup_container{
    border: 10px solid transparent; 
    border-top: 50px solid transparent; 
    border-radius: 5px; 
    background: 
        linear-gradient(to top, #F5F5F5, #EBFFFE) padding-box, 
        linear-gradient(to bottom, #C4D6FF, #002E99) border-box; 
    position: fixed;
    inset: 0px;
    margin: auto;
    height: 500px; 
    width: 500px; 
    z-index: 10; 
    font-family: 'Forum', 'Courier New', Courier, monospace;
    /* font-weight: bold; */ 
}

#url_container{
    background-color: white;
    font-size: 11px; 
    height: 30px; 
    text-align: center; 
    border-bottom: 10px solid #a1b8ed; 
}

span{
    position: relative; 
    top: 10px; 
}

p{
    font-size: 13px; 
    width: 200px; 
    height: 340px; 
    background-color: white;
    border: 4px solid #003998; 
    margin-left: 10px;  
    padding: 10px; 
}

h1 {
    text-align: center; 
}

/* 
The height and width of the popup will eventually 
need to change based on the size of the page, so it can work
on a phone 

Might be nice to implement an animation when the popup comes up 
*/ 

